
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* GENERALS */


/* UTILITIES */
 
.flex-wrapper {
    display: flex ;
}

/* BODY */

/* FOOTER */



/* MEDIA QUERY */

@media screen and (min-width:576px) {

    
}

@media screen and (min-width:768px) {

    
}

@media screen and (min-width:992px) {

    
}
