
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* GENERALS */

body {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* UTILITIES */


/* float */
.clearifx::after {
    content: '';
    display: table;
    clear: both;
}

.float-right {
    float: right;
}

 
.flex {
    display: flex ;
}

.text-align-right {
    text-align: right;
}

/* BODY */

.flex.main {
    flex-direction: row;
    align-items: stretch;
    max-height: calc(100vh - 70px);
}

.sidebar {
    background-color: darksalmon;
    flex-basis: 50px;
    /* attenzione che siccome ci ho messo flex basis devo metterci probabilmente flex-shrink se il contenuto non basta */
}

main {
    flex-grow: 1;
    background-color: #141922;
}

/* SIDEBAR */

nav {
    height: 100%;
    padding: 5px;
    position: relative;
}

/* MAIN */

/* HEADER */

.main-header {
    background-color: #080B12;
    height: 80px;
    width: 100%;
    padding: 5px;
    /* invece questo è fixed aiut */
}

header .upgrade {
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    border: 1px solid white;
    border-radius: 25px;
    padding: 15px 35px;
    line-height: 80px;
}

/* CONTENT */

/* content nav */
.content-nav {
    text-transform: uppercase;
}

.content-nav ul.flex {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.content-nav li {
    margin: 12px;
}

.content-nav a {
    color: #707278;
    font-weight: 600;
}

/* content gallery */

.content {
    max-height: calc(100vh - 150px);
    overflow-y: auto;
}

.content-gallery .flex {
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.content-gallery section {
    width: 100%;
}

.content-gallery .card {
    width: 50%;
}

.card-text {
    overflow-wrap: break-word;
}

/* FOOTER */

footer {
    height: 70px;
    background-color: #282828;
}

/* controllare tutte le altezze che ho fatto un casino */

/* MEDIA QUERY */

@media screen and (min-width:576px) {

    
}

@media screen and (min-width:768px) {

    
}

@media screen and (min-width:992px) {

    
}
