
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* GENERALS */


/* UTILITIES */


/* float */
.clearifx::after {
    content: '';
    display: table;
    clear: both;
}

.float-right {
    float: right;
}

 
.flex-wrapper {
    display: flex ;
}

.text-align-right {
    text-align: right;
}

/* BODY */

.flex-wrapper.main {
    flex-direction: row;
    align-items: stretch;
    height: calc(100vh - 70px);
}

.sidebar {
    background-color: darksalmon;
    flex-basis: 50px;
}

main {
    flex-grow: 1;
    background-color: darkred;
}

/* SIDEBAR */

nav {
    height: 100%;
    padding: 5px;
    position: relative;
}

/* MAIN SCREEN*/

/* Header */

.main-header {
    background-color: #080B12;
    height: 80px;
    width: 100%;
    padding: 5px;
}

header .upgrade {
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    border: 1px solid white;
    border-radius: 25px;
    padding: 15px 35px;
    line-height: 80px;
}

/* FOOTER */

footer {
    width: 100%;
    height: 70px;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    left: 0;
}


/* MEDIA QUERY */

@media screen and (min-width:576px) {

    
}

@media screen and (min-width:768px) {

    
}

@media screen and (min-width:992px) {

    
}
